<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">

		<div class="col-sm-6">
		  Contact:<br />
		  Wan Lab @ UNMC <br />
		  Email: <a href="swan@unmc.edu">swan@unmc.edu</a><br />
		  Phone: +1-402-559-6560<br />
		  Durham Research Center 1 6014<br />
		  985805 Nebraska Medical Center<br />
		  Omaha, NE 68198 USA<br />
            (<a href="https://www.google.com/maps/place/Durham+Research+Center+1,+S+45th+St,+Omaha,+NE+68131/@41.2555847,-95.9834366,17z/data=!3m1!4b1!4m6!3m5!1s0x87938e782fb074db:0xbe2fb8a5e591fab4!8m2!3d41.2555807!4d-95.9808617!16s%2Fg%2F11_s0l5bl?entry=ttu">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
