---
layout: default
---
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-sm-1" ></div>
  <div id="labm" class="col-sm-4" >
    <div class="well">
      <h4>Wan Lab Meeting</h4>
      <h4><a href="{{ site.url }}{{ site.baseurl }}/labm">Schedule</a></h4>
    </div>
  </div>
  <div class="col-sm-2" ></div>
  <div id="eventid" class="col-sm-4" >
    <div class="well">
      <h4>AI/ML Journal Club</h4>
      <h4><a href="{{ site.url }}{{ site.baseurl }}/journalclub">Schedule</a></h4>
    </div>
  </div>
  <div class="col-sm-1" ></div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-sm-1" ></div>
  <div id="eventid" class="col-sm-4" >
    <div class="well">
      <h4>Conference Deadlines</h4>
      <h4><a href="{{ site.url }}{{ site.baseurl }}/conference">Schedule</a></h4>
    </div>
  </div>
  <div class="col-sm-2" ></div>
  <div id="activityid" class="col-sm-4" >
    <div class="well">
      <h4>Lab Gallery/Activities</h4>
      <h4><a href="{{ site.url }}{{ site.baseurl }}/activity">See all Activities</a></h4>
    </div>
  </div> 
  <div class="col-sm-1" ></div>
</div>
<br>
<br>
<br>
<br>
<br>
