---
layout: default
---
<br>
<br>
<div class="col-sm-3" >
</div>
<div id="eventid" class="col-sm-6" >
	<div class="well">
		<h4>Machine Learning Journal Club</h4>
		<h4><a href="{{ site.url }}{{ site.baseurl }}/event">Schedule</a></h4>
	</div>
</div>
<div class="col-sm-3" >
</div>
<br>
<br>
<div class="col-sm-3" >
</div>
<div id="activityid" class="col-sm-6" >
	<div class="well">
		<h4>Lab Gallery/Activities</h4>
		<h4><a href="{{ site.url }}{{ site.baseurl }}/activity">See all Activities</a></h4>
	</div>
</div>  
<div class="col-sm-3" >
</div>

  
